In [9]:
import pandas_datareader as pdr
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
import datetime

In [11]:
symbols = get_nasdaq_symbols()
print(symbols.loc['GOLD'])

Nasdaq Traded                                             True
Security Name       Barrick Gold Corporation Common Stock (BC)
Listing Exchange                                             N
Market Category
ETF                                                      False
Round Lot Size                                           100.0
Test Issue                                               False
Financial Status                                           NaN
CQS Symbol                                                GOLD
NASDAQ Symbol                                             GOLD
NextShares                                               False
Name: GOLD, dtype: object

In [5]:
GS2 = pdr.DataReader('gs2',"fred", start="2000-01-01")
GS2.head()

             gs2
DATE
2000-01-01  6.44
2000-02-01  6.61
2000-03-01  6.53
2000-04-01  6.40
2000-05-01  6.81

In [6]:
GS10 = pdr.DataReader('gs10',"fred", start="2000-01-01")
GS10.head()

            gs10
DATE
2000-01-01  6.66
2000-02-01  6.52
2000-03-01  6.26
2000-04-01  5.99
2000-05-01  6.44

In [ ]:
GS10 = pdr.DataReader('gs10',"fred", start="2000-01-01")
GS10.head()

In [8]:
GOLD = pdr.DataReader("GOLD","Quandl", start="2000-01-01")
GOLD.head()

NotImplementedError: data_source='Quandl' is not implemented

In [15]:
indexdata = pdr.DataReader(["DTWEXBGS","gs10","gs2","DCOILWTICO","DCOILBRENTEU","BAMLH0A0HYM2EY","VIXCLS","SP500","NASDAQ100","WILL5000IND","CBBTCUSD","CBETHUSD"], "fred",start="20220101")
indexdata.tail()

,DTWEXBGS,gs10,gs2,DCOILWTICO,DCOILBRENTEU,BAMLH0A0HYM2EY,VIXCLS,SP500,NASDAQ100,WILL5000IND,CBBTCUSD,CBETHUSD
DATE,,,,,,,,,,,,
2022-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41271.13,2861.42
2022-03-21,NaN,NaN,NaN,112.14,122.29,5.95,23.53,4461.18,14376.09,NaN,41009.98,2891.29
2022-03-22,NaN,NaN,NaN,NaN,NaN,6.03,22.94,4511.61,14654.33,NaN,42359.88,2968.32
2022-03-23,NaN,NaN,NaN,NaN,NaN,6.00,23.57,4456.24,14447.55,NaN,42940.28,3039.17
2022-03-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4520.16,NaN,NaN,43979.48,3108.99

In [17]:
indexdata.to_excel('indexdata1.xlsx')