In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./KOSDAQ0305.xlsx', engine='openpyxl')
df.head(3)

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR,자산총계,부채총계,자본총계,주당순이익
0,셀트리온헬스케어,91990,104821,16276,-226.1,63.77,13.36,7.30,5.22,6.440219,-463.604600,37397,18068,19329,1060
1,엘앤에프,66970,71013,3561,452.7,-181.01,-9.39,-3.40,9.04,19.941870,156.865474,4662,2686,1976,-1127
2,펄어비스,263750,67281,4888,1574.3,130.26,16.45,11.43,8.68,13.764525,42.737090,8972,2603,6369,780

In [4]:
df_per = df[['종목명','PER']]
df_per.head(3)

        종목명     PER
0  셀트리온헬스케어   63.77
1      엘앤에프 -181.01
2      펄어비스  130.26

In [5]:
df_per1 = df_per.sort_values(by='PER', ascending=False)
df_per1.head(3)

       종목명      PER
638  이노메트리  4950.00
611   세코닉스  3450.00
354   텔레칩스  2628.57

In [6]:
df_per1 = df_per1[df_per1.PER > 0]
df_per1.tail()

           종목명   PER
1295   리더스코스메틱  1.72
1032     성도이엔지  0.94
768   SGC이테크건설  0.82
1033        원익  0.61
1405       포티스  0.20

In [7]:
df_per1

           종목명      PER
638      이노메트리  4950.00
611       세코닉스  3450.00
354       텔레칩스  2628.57
1241      동방선기  2035.00
30          엔켐  1798.08
...        ...      ...
1295   리더스코스메틱     1.72
1032     성도이엔지     0.94
768   SGC이테크건설     0.82
1033        원익     0.61
1405       포티스     0.20

[885 rows x 2 columns]

In [8]:
a = 0
number = []
for i in range(0, 10):
    a += 88
    number.append(a)

[88, 176, 264, 352, 440, 528, 616, 704, 792, 880]

In [9]:
for i in range(0, 10):
    print(number[i]+1, number[i+1]+1)

89 177
177 265
265 353
353 441
441 529
529 617
617 705
705 793
793 881

IndexError: list index out of range

In [ ]:
df_per1[:89]
df_per1[89:177]
df_per1[177:265]
df_per1[265:353]
df_per1[353:441]
df_per1[441:529]
df_per1[529:617]
df_per1[617:705]
df_per1[705:793]
df_per1[793:]