In [3]:
import pandas as pd

In [29]:
df = pd.read_excel('./KOSDAQROE15.xlsx', engine='openpyxl')
df.head()

        종목명    종목코드    ROE
0      현진소재   53660  95.14
1       피씨엘  241820  91.65
2    엑세스바이오  950130  89.16
3  아이패밀리에스씨  114840  79.99
4  SGC이테크건설   16250  79.74

In [30]:
df = df[['종목명', '종목코드']]
df.head()

        종목명    종목코드
0      현진소재   53660
1       피씨엘  241820
2    엑세스바이오  950130
3  아이패밀리에스씨  114840
4  SGC이테크건설   16250

In [32]:
df_ticker = df['종목코드'].astype('str').str.zfill(6)
df_ticker

0      053660
1      241820
2      950130
3      114840
4      016250
        ...
225    083450
226    066430
227    071460
228    042420
229    033540
Name: 종목코드, Length: 230, dtype: object

In [33]:
df_ticker.to_excel('./종목코드.xlsx')