In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./KOSPI데이터0305.xlsx', engine='openpyxl')
df.head()

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR,자산총계,부채총계,자본총계,주당순이익
0,삼성전자,5930,4351971,2796048,651054.5,12.62,13.92,9.92,1.67,1.556472,6.684496,4266212,1217212,3049000,5777
1,SK하이닉스,660,939123,319004,123145.7,11.66,9.53,6.98,1.51,2.943922,7.626113,711739,192648,519091,11061
2,NAVER,35420,533980,53041,14472.1,3.22,15.22,5.77,2.05,10.067306,36.897202,170142,87591,82551,101024
3,카카오,35720,430799,41568,9711.0,38.03,2.70,1.68,4.76,10.363717,44.361961,119540,45262,74278,2540
4,LG화학,51910,393905,300765,58408.3,14.54,2.93,1.81,2.04,1.309677,6.743990,413889,225985,187904,38376

In [3]:
df_pbr = df[['종목명','PBR']]
df_pbr.head()

      종목명   PBR
0    삼성전자  1.67
1  SK하이닉스  1.51
2   NAVER  2.05
3     카카오  4.76
4    LG화학  2.04

In [21]:
df_pbr=df_pbr[df_pbr.PBR > 0]
df_pbr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783 entries, 0 to 786
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     783 non-null    object
 1   PBR     783 non-null    float64
dtypes: float64(1), object(1)
memory usage: 18.4+ KB

In [23]:
df_pbr1 = df_pbr.sort_values(by='PBR', ascending=False)
df_pbr1.tail()

        종목명   PBR
476      넥센  0.21
111    한화생명  0.20
303     HDC  0.18
697  경동인베스트  0.18
702    세원정공  0.18

In [10]:
a = 0
number = []
for i in range(0, 10):
    a += 78
    number.append(a)
    print(a)
print(number)

78
156
234
312
390
468
546
624
702
780
[78, 156, 234, 312, 390, 468, 546, 624, 702, 780]

In [11]:
number

[78, 156, 234, 312, 390, 468, 546, 624, 702, 780]

In [17]:
a = 0
for i in range(0, 11):
    a = number[i] 
    b = number[i+1]
    print(a, b)

78 156
156 234
234 312
312 390
390 468
468 546
546 624
624 702
702 780

IndexError: list index out of range

In [24]:
df_pbr1[:78]
df_pbr1[78:156]
df_pbr1[156:234]
df_pbr1[234:312]
df_pbr1[312:390]
df_pbr1[390:468]
df_pbr1[468:546]
df_pbr1[546:624]
df_pbr1[624:702]
df_pbr1[702:]

        종목명   PBR
241   삼양홀딩스  0.37
502    신라교역  0.36
740    동일제강  0.36
488    일성신약  0.36
363      동양  0.36
..      ...   ...
476      넥센  0.21
111    한화생명  0.20
303     HDC  0.18
697  경동인베스트  0.18
702    세원정공  0.18

[81 rows x 2 columns]