In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('./KOSPIROE15.xlsx', engine='openpyxl')
df.head()

        종목명    종목코드     ROE
0  에스디바이오센서  137310  139.97
1      태영건설    9410   61.96
2      크래프톤  259960   61.86
3     삼성출판사   68290   45.58
4       솔루엠  248070   43.26

In [4]:
df_ticker = df['종목코드'].astype('str').str.zfill(6)
df_ticker

0     137310
1     009410
2     259960
3     068290
4     248070
       ...
83    145270
84    381970
85    003090
86    011760
87    012510
Name: 종목코드, Length: 88, dtype: object

In [5]:
df_ticker.to_excel('./종목코드.xlsx')